.App {
  text-align: center;
  padding: 5%;
}

.Pokedex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: gainsboro;
  margin-bottom: 3%;
}

.Pokedex_winner {
  color: rgb(100, 150, 13);
  width: 100%;
}

.Pokecard {
  margin: 1%;
  background-color: darkgray;
  min-width: 300px;
  border-radius: 5%;
}

.Pokecard:hover {
  background-color: rgb(197, 195, 195);

  box-shadow: 10px 10px 5px #595959;
}

.Pokecard_name {
  color: cornflowerblue;
}
