.Pokegame_hand {
  background-color: rgb(230, 227, 227);
  padding: 0.5%;
  margin: 5px;
}

.Pokegame_winner {
  color: lightseagreen;
  font-weight: bold;
  font-size: 40px;
}

.Pokegame_looser {
  color: indianred;
  font-weight: bold;
  font-size: 40px;
}
