.Pokecard {
  margin: 1%;
  background-color: darkgray;
  min-width: 300px;
  border-radius: 5%;
  box-shadow: 10px 10px 5px rgb(138, 138, 138);
}

.Pokecard:hover {
  background-color: rgb(189, 186, 186);
  box-shadow: 10px 10px 5px #595959;
}

.Pokecard_name {
  color: cornflowerblue;
}

.Pokecard-img {
  background-color: rgb(247, 237, 240);
  margin: 1.2em;
  height: 300px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pokecard img {
  height: 270px;
  transition: transform 700ms;
}

.Pokecard img:hover {
  transform: scale(1.25);
}
